altgraph==0.16.1
antiorm==1.2.1
click==6.7
cx-Freeze==5.1.1
db==0.1.1
db-sqlite3==0.0.1
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.10
macholib==1.11
MarkupSafe==1.0
modulegraph==0.17
pefile==2018.8.8
pypiwin32==223
PyQt5==5.11.2
PyQt5-sip==4.19.12
pywin32==223
SQLAlchemy==1.2.11
Werkzeug==0.14.1